html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1370px;
}

.main {
    padding-top: 14px;

    @media(max-width:480px) {
        padding-top: 17px;
    }
}

.bread-crumbs {
    padding: 0;
    margin: 0 0 22px;
    list-style: none;
    display: flex;
    align-items: center;

    @media(max-width:480px) {
        margin-bottom: 7px;
    }

    li + li {
        padding-left: 16px;
        margin-left: 10px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            width: 6px;
            height: 11px;
            background-image: url(../../img/bread-crumbs-arrow.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    img {
        @media(max-width:480px) {
            margin-top: 4px;
            width: 15px;
            height: 15px;
        }
    }

    a,
    span {
        text-decoration: none;
        font-size: 16px;
        line-height: 113.03%;
        color: #BEBEBE;
    }
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;

    @media(max-width:480px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.text {
    margin: 0 0 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
//////////////////////
.form__wrap-input {
    position: relative;

    span {
        color: $red;
    }
}
.form__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #BEBEBE;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    height: 36px;
    transition: all .3s;

    &:focus {
        border-color: $red;
    }
}
.form__input:focus + label{
    font-size: 13px;
    line-height: 16px;
    color: #9F9F9F;
    top: -11px;
    left: 0px;
}
.form__placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    position: absolute;
    left: 3px;
    top: 8px;
    transition: all .3s;

    &.active {
        font-size: 13px;
        line-height: 16px;
        color: #9F9F9F;
        top: -11px;
        left: 0px;
    }
    &.valid {
        color: $red;
    }
}
.form__registration-birth {
    position: absolute;
    right: 11px;
    top: 6px;
    z-index: -1;
    cursor: pointer;
    background-color: transparent;
    width: 21px;
    height: 21px;
    background-image: url(../img/calendar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.datepicker--cell.-current-,
.datepicker--day-name {
    color: $red;
}
.datepicker--cell.-selected- {
    background-color: $red !important;
}
.form__password-checkbox {
    display: inline-block;
    right: 0;
    width: 30px;
    height: 23px;
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
    background-image: url(../../img/login-view.svg);
    background-repeat: no-repeat;
    background-position: center;

    &.active {
        &::before {
            content: "/";
            position: absolute;
            color: #BEBEBE;
            left: 37%;
            top: -.7px;
            font-size: 22px;
        }
    }

    input {
        display: none;
    }
}
.form__checkbox {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3px;
    color: #A1A1A1;
    cursor: pointer;
    display: inline-block;


    &.active {
        span {
            background-image: url(../../img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $red; 
            border-color: transparent;
        }
    }

    input {
        display: none;

        &:checked + span {
            background-image: url(../../img/arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $red; 
            border-color: transparent;
        }
    }
    span {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        display: inline-block;
        border: 1px solid #A1A1A1;
        margin-bottom: -3px;
    }
}
.form__log-in {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    border: 2px solid #EB0002;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 41.5px 10px;
    outline: none;
    cursor: pointer;
    transition: all .3s;

    @media(max-width: 480px) {
        padding: 12px 39px 10px;
    }
}
.form__textarea {
    outline: none;
    border: 1px solid #BEBEBE;
    resize: none;
    padding: 5px;
}
.phone-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
    text-decoration: none;
}
.socials__link {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.mfp-bg {
    background: rgba(0, 0, 0, 0.4);
}
.mfp-wrap {
    .callback {
        display: flex;
    }
    .reviews__wrap-form {
        display: block;
    }
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  text-align: center;
  width: 52px;
  height: 35px;
  display: block;
  padding: 0;
  margin: 0 auto;
  border: none;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: absolute;
  top: 0;
  height: 35px;
  width: 92px;
}

.quantity-button {
  position: absolute;
  top: 0;
  padding-top: 7px;
  cursor: pointer;
  width: 25px;
  height: 35px;
  text-align: center;
  user-select: none;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #BEBEBE;
}

.quantity-button.quantity-up {
  right: 6px;
}

.quantity-button.quantity-down {
  left: 6px;
}
.load-more {
    margin: 32px 0 44px;
    display: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #505759;
    outline: none;
    border: none;
    background: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    padding: 23px 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media(max-width: 450px) {
        display: flex;
    }

    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url(../../img/load-more.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 28px 0 0;
        transition: all .3s;

    }
}