.brands {
    padding-bottom: 134px;

    @media(max-width: 500px) {
        padding-bottom: 183px;
    }
}
.brands__list {
    padding: 30px 0 0;
    margin: 0 0 66px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 1050px) {
        flex-wrap: wrap;
    }
    @media(max-width: 915px) {
        justify-content: start;
    }
    @media(max-width: 450px) {
        padding-top: 10px;
        line-height: 28px;
        margin-bottom: 22px;
    }

    li {
        cursor: pointer;
    
        @media(max-width: 1050px) {
            min-width: 30px;
            margin: 0 .1%;
        }
        @media(max-width: 450px) {
        }
    }
    li.active {
        // color: $red;
    }
}

.brands__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    width: calc(100% + 20px);

    @media(max-width: 700px) {
        width: calc(100% + 50px);
        margin-left: -25px;
    }
    @media(max-width: 500px) {
        width: calc(100% + 45px);
        margin-left: -22.5px;
    }
}
.brands__item {
    margin: 0 10px 39px;
    width: calc(16.6666% - 20px);
    text-align: center;

    @media(max-width: 1150px) {
        width: calc(20% - 20px);
    }
    @media(max-width: 950px) {
        width: calc(25% - 20px);
    }
    @media(max-width: 700px) {
        width: calc(33.3333% - 20px);
    }
    @media(max-width: 500px) {
        width: calc(50% - 15px);
        margin: 0 7.5px 16px;
    }
}
.brands__item-inner {
    max-width: 207px;
    // color: $dark;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        // color: $red;

        .brands__img {
            border-color: transparent;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
        }
    }
}
.brands__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 136px;
    border: 1px solid #BEBEBE;
    margin-bottom: 9px;
    transition: all .3s;

    @media(max-width: 500px) {
        min-height: 100px;
    }
    @media(max-width: 450px) {
        margin-bottom: 5px;
    }

    img {
        max-width: 100%;
        height: auto;

        @media(max-width: 500px) {
            max-height: 100px;
        }
    }
}
.brands__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    @media(max-width: 450px) {
        font-size: 12px;
        line-height: 15px;
    }
}