@import "../vars";

.cart__inner {
    padding: 59px 0 150px;
    max-width: 1114px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 650px) {
        padding-top: 20px;
        padding-bottom: 113px;
    }
}
.cart__info {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #676767;
    border-bottom: 1px solid #BEBEBE;
    padding: 0 10px 5px;
    text-align: left;

    @media (max-width: 650px) {
        border-bottom: none;
    }
    @media (max-width: 400px) {
        padding-bottom: 0;
    }
}
.cart__info-product {
    max-width: 574px;
    width: 100%;
}
.cart__info-quantity {
    max-width: 196px;
    width: 100%;

    @media (max-width: 890px) {
        max-width: 170px;
    }
    @media (max-width: 650px) {
        display: none;
    }
}
.cart__info-price {
    max-width: 150px;
    width: 100%;

    @media (max-width: 890px) {
        max-width: 110px;
    }
    @media (max-width: 750px) {
        display: none;
    }
}
.cart__info-total {
    width: 100%;
    max-width: 174px;

    @media (max-width: 970px) {
        max-width: 140px;
    }
    @media (max-width: 970px) {
        max-width: 130px;
    }
    @media (max-width: 650px) {
        display: none;
    }
}
.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 124px;
    padding: 18px 14px 10px 10px;
    border-bottom: 1px solid #BEBEBE;
    text-align: left;

    @media (max-width: 650px) {
        flex-wrap: wrap;
        padding: 18px 0 10px 0;
    }
    @media (max-width: 400px) {
        padding-top: 29px;
        padding-bottom: 19px;
        align-items: start;
        row-gap: 15px;
    }
}
.cart__item-img {
    width: 100%;
    max-width: 78px;

    @media (max-width: 650px) {
        margin-bottom: 28px;
    }
    @media (max-width: 400px) {
        margin-bottom: 0;
    }
}
.cart__item-text {
    width: 100%;
    max-width: 440px;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin: 0 auto 0 10px;
    padding-right: 35px;

    @media (max-width: 970px) {
        padding-right: 20px;
    }
    @media (max-width: 650px) {
        padding-right: 0;
        margin-right: auto;
        margin-bottom: 28px;
    }
    @media (max-width: 600px) {
        max-width: calc(100% - 88px);
    }
    @media (max-width: 400px) {
        margin-bottom: 0;
        font-size: 13px;
    }
}
.cart__item-quantity {
    position: relative;
    max-width: 92px;
    width: 100%;
    margin-right: 9%;
    border: 1px solid #E1E1E1;
    border-radius: 4px;

    @media (max-width: 890px) {
        margin-right: 5%;
    }
}
.cart__num {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    max-width: 130px;
    margin-right: 15px;

    @media (max-width: 890px) {
        max-width: 110px;
    }
    @media (max-width: 750px) {
        display: none;
        &.cart__num-js {
            display: block;
        }
    }
    @media (max-width: 400px) {
        padding-top: 9px;
    }
}
.cart__item-penny {
    font-size: 12px;
    font-weight: 700;
}
.cart__item-price {
    font-weight: 700;
    font-size: 18px;
}
.cart__item-sum {
    font-weight: 700;
    font-size: 18px;
}
.cart__item-btn {
    outline: none;
    border: none;
    background: transparent;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;

    @media (max-width: 400px) {
        margin: 6px -5px 0 0;
    }

    &:hover {
        &::before,
        &::after {
            background-color: $red;
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 25%;
        top: 45%;
        width: 14px;
        height: 3px;
        border-radius: 30%;
        background-color: #BEBEBE;
        transition: all .3s;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

.cart__total {
    border: 6px solid rgba($color: #E1E1E1, $alpha: .5);
    border-radius: 10px;
    max-width: 526px;
    display: flex;
    align-items: center;
    margin: 16px auto 28px;
    font-size: 18px;
    line-height: 37px;
    padding: 15px 10px 10px 44px;

    @media (max-width: 650px) {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        line-height: 45px;
        margin-bottom: 33px;
        margin-top: 40px;
    }
}
.cart__total-num {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.33333px;
    margin-left: 25px;
    padding-top: 3px;
    display: inline-block;
}
.cart__total-penny {
    font-size: 18px;
    font-weight: bold;
}
.cart__total-currency {
    font-size: 14px;
    font-weight: 600;
}
.cart__checkout {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border: 2px solid #EB0002;
    border-radius: 5px;
    display: inline-block;
    padding: 11px 41px;
}