.recover {
    padding-bottom: 100px;
}

.recover form {
    max-width: 328px;
}

.recover__text {
    padding-top: 13px;
    margin: 0 0 34px;
    font-size: 15px;
    letter-spacing: 0.3px;
    max-width: 800px;
}

.recover__btn {
    margin-top: 38px;
    padding: 11px 30px;
}  