@import "../vars";

.login {
    max-width: 328px;
    padding-bottom: 250px;

    @media(max-width: 480px) {
        padding-bottom: 130px;
    }
}

.login .form__wrap-input {
    margin-top: 35px;
}

.login .form__log-in {
    margin-right: 50px;

    @media(max-width: 480px) {
        margin-right: 35px;
    }
    @media(max-width: 350px) {
        margin-right: 15px;
    }
}

.login__remember {
    margin: 25px 28px 32px 0;
    
    @media(max-width: 480px) {
        margin-bottom: 20px;
    }
    @media(max-width: 350px) {
        margin-right: 5px;
    }
}

.login__log-up {
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: $red;
}