
.filter {
    background: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    max-width: 260px;
    flex-grow: 1;
    background: #F9F9F9;
    border-radius: 10px;
    padding-top: 14px;
    margin-top: 9px;
    align-self: start;

    @media (max-width: 850px){
        position: absolute;
        top: 0;
        z-index: 18;
        margin-top: 0;
        left: 0;
        border-top-left-radius: 0;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
        transform: translateX(-150%);
        transition: all .3s;

        &.active {
        transform: translateX(0%);
        }
    }
}
.filter__close {
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 25px;
    right: 11px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;

    @media (max-width: 850px) {
        display: block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 3px;
        // background-color: $dark;
        left: 18%;
        top: 10px;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}
.filter__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    padding: 0 50px 16px 18px;
    // border-bottom: 3px solid $red;
}
.filter__item {
    margin-bottom: 52px;
}
.filter__list {
    margin: 24px 0 0;
    padding: 0px 15px 0 18px;
    list-style: none;
}
.filter__list-li {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    position: relative;

    & + .filter__list-li {
        margin-top: 52px;
    }
    span {
        margin-bottom: 14px;
        display: inline-block;
    }
}
.filter__btn {
    position: absolute;
    padding: 0;
    top: 3px;
    right: -4px;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 48%;
        height: 1px;
        width: 19px;
        // background-color: $dark;
        transition: all .3s;
    }
}
.filter__btn.active {
    &::before {
        transform: rotate(270deg);
    }
}
.filter__list-down {
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    
    li {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
        color: #505759;
    }
}
.filter__list-down.filter__list-down--scroll {
    overflow-y: scroll;
    max-height: 230px;

    &::-webkit-scrollbar {
        width: 6px;
        background: #E3E2E2;
        border-radius: 9px;
    }
    &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #9F9F9F;
        border-radius: 9px;
    }
}
.price-range {
    // margin: -15px 0 0;
    position: relative;
    padding: 27px 11px 41px 18px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    
    .filter__btn {
        right: 11px;
        top: 28px;
    }
}
.filter__item-checkbox {
    position: relative;
    padding: 27px 15px 30px 18px;
    margin: 0;

    & + .filter__item-checkbox {
        border-top: 1px solid #E1E1E1;
    }
    .filter__btn {
        right: 11px;
        top: 28px;
    }
}
.filter__title--up {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
}

.filter__list-scroll {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 6px;
        background: #E3E2E2;
        border-radius: 9px;
    }
    &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #9F9F9F;
        border-radius: 9px;
    }
}
.filter__list-checkbox {
    margin: 16px 0 0;
    padding: 10px 0 0 0;
    list-style: none;
    max-height: 305px;
    max-width: 227px;

    label {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #505759;
        position: relative;
        padding: 0 10px 0 24px;
        display: inline-block;
        margin-bottom: 14px;
        cursor: pointer;
    }
    input {
        display: none;
    }
    input:checked + span{
        background-image: url(../../img/check.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.filter__checkbox {
    background-color: #FFFFFF;
    background-position: center 2px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -2px;
    transition: all .2s;
}

// 
.range-slider {
    margin-top: -4px;
}
.extra-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    padding: 13px 5px 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #505759;
}
.js-input-from,
.js-input-to {
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #505759;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    width: 74px;
    height: 31px;
    text-align: center;
}
.irs--round .irs-min, 
.irs--round .irs-max {
    display: none;
}
.irs--round .irs-from, 
.irs--round .irs-to, 
.irs--round .irs-single {
    display: none;
}
.irs--round .irs-line {
    height: 4px;
    border-radius: 0;
    background-color: #E1E1E1;
}
.irs--round .irs-bar {
    // background-color: $red;
}
.irs--round .irs-handle {
    // border: 3px solid $red;
    width: 23px;
    height: 23px;
    cursor: pointer;
}


















.one-brand {
    display: flex;
    justify-content: space-between;
    margin: 0 0 182px auto;
    max-width: 1310px;

    @media (max-width: 450px){
        margin-bottom: 58px;
    }

    .title {
        margin-bottom: 8px;
    }
    .load-more {
        display: flex;
        max-width: 286px;
        margin: 0 auto 80px;
    }
    .product__img {
        @media (max-width: 450px){
            min-height: 217px;
        }
        @media (max-width: 370px){
            min-height: 136px;
        }
    }
}
.one-brand__inner {
    flex-grow: 2;
    margin-left: 50px;
    padding-top: 10px;

    @media (max-width: 1050px){
        margin-left: 30px;
    }
    @media (max-width: 850px){
        margin-left: 0px;
    }
}
.one-brand__wrap-filter {
    position: relative;
}
.one-brand__bnts {
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    @media (max-width: 850px){
        display: flex;
        width: calc(100% + 30px);
        margin: 50px 0 10px -15px;
    }
    @media (max-width: 450px){
        margin-top: 30px;
    }
}
.one-brand__bnt-filtr,
.one-brand__bnt-sort {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    width: 50%;
    height: 35px;
    cursor: pointer;

    span {
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 14px;
            height: 14px;
            left: 0px;
        }
    }
}
.one-brand__bnt-filtr {
    span {
        &::before {
            background-image: url(../../img/filtr.svg);
        }
    }
}
.one-brand__bnt-sort {
    border-left: 1px solid #E1E1E1;

    span {
        &::before {
            background-image: url(../../img/sort.svg);
        }
    }
    
}
.one-brand__filter {
    border-top: 1px solid #E1E1E1;
    padding-top: 15px;
    display: flex;
    margin-bottom: 36px;

    span {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #505759;
        margin-right: 5px;
    }

    @media (max-width: 850px){
        flex-direction: column;
        position: absolute;
        width: calc(100% + 30px);
        margin: 0;
        top: 35px;
        right: -15px;
        background: #F9F9F9;
        padding: 0 15px 15px;
        z-index: 11;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
        display: none;

        &>div {
            padding: 20px 0 0;
        }
        span {
            display: inline-block;
        }
    }
}
.one-brand__filter-sort {
    margin-right: 6.5%;
}
// .one-brand__filter-view,
// .one-brand__filter-sort {
    // @media (max-width: 850px) {
        
    // }
// }
.one-brand__filter-num {
    position: absolute;
    right: 0;
    top: -32px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #BEBEBE;

    @media (max-width: 850px){
        right: auto;
        left: 0;
        top: -45px;
    }
    @media (max-width: 450px){
        top: -33px;
    }

    span {
        font-size: 16px;
        line-height: 20px;
        // color: $dark;
    }
}
.one-brand__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.one-brand__item {
    width: 33.3333%;

    @media (max-width: 1050px){
        width: 50%;
    }
}
.one-brand__description {
    background: #F3F2F2;
    color: #505759;
    padding: 56px 0 32px 2.4%;

    @media (max-width: 450px){
        padding: 20px 0 35px 13px;
    }
}
.one-brand__description-inner {
    padding-top: 10px;
    display: flex;
    justify-content: center;

    @media (max-width: 600px){
        display: block;
    }
    @media (max-width: 450px){
        overflow-y: scroll;
        padding-right: 10px;
        margin-right: 15px;
        max-height: 242px;

        &::-webkit-scrollbar {
            width: 6px;
            background: #E3E2E2;
            border-radius: 9px;
        }
        &::-webkit-scrollbar-thumb {
            width: 6px;
            background: #9F9F9F;
            border-radius: 9px;
        }
    }
}
.one-brand__figure {
    margin: 0;
    font-weight: normal;
    max-width: 224px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 79px;

    @media (max-width: 850px){
        margin-right: 30px;
    }
    @media (max-width: 600px){
        margin: 0 auto 30px;
    }
}
.one-brand__description-img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 145px;
    padding: 0 10px;
    margin: 7px 0 10px 0;
}
.one-brand__description-title {
    margin: 0 0 19px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 450px){
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 34px;
    }
}
.one-brand__description-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    height: 114px;
    overflow-y: scroll;
    max-width: 994px;
    padding-right: 79px;

    @media (max-width: 600px){
        padding-right: 20px;
        margin-right: 19px;
    }
    @media (max-width: 450px){
        overflow-y: visible;
        padding-right: 0;
        margin-right: 0;
    }
    

    p {
        margin: 0 0 10px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background: #E3E2E2;
        border-radius: 9px;
    }
    &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #9F9F9F;
        border-radius: 9px;
    }
}