.one-brand {
    display: flex;
    justify-content: space-between;
    margin: 0 0 182px auto;
    max-width: 1310px;

    @media (max-width: 450px){
        margin-bottom: 58px;
    }

    .title {
        margin-bottom: 8px;
    }
    .load-more {
        display: flex;
        max-width: 286px;
        margin: 0 auto 80px;
    }
    .product__img {
        @media (max-width: 450px){
            min-height: 217px;
        }
        @media (max-width: 370px){
            min-height: 136px;
        }
    }
}
.one-brand__inner {
    flex-grow: 2;
    margin-left: 50px;
    padding-top: 10px;

    @media (max-width: 1050px){
        margin-left: 30px;
    }
    @media (max-width: 850px){
        margin-left: 0px;
    }
}
.one-brand__wrap-filter {
    position: relative;
}
.one-brand__bnts {
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    @media (max-width: 850px){
        display: flex;
        width: calc(100% + 30px);
        margin: 50px 0 10px -15px;
    }
    @media (max-width: 450px){
        margin-top: 30px;
    }
}
.one-brand__bnt-filtr,
.one-brand__bnt-sort {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    width: 50%;
    height: 35px;
    cursor: pointer;

    span {
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 14px;
            height: 14px;
            left: 0px;
        }
    }
}
.one-brand__bnt-filtr {
    span {
        &::before {
            background-image: url(../../img/filtr.svg);
        }
    }
}
.one-brand__bnt-sort {
    border-left: 1px solid #E1E1E1;

    span {
        &::before {
            background-image: url(../../img/sort.svg);
        }
    }
    
}
.one-brand__filter {
    border-top: 1px solid #E1E1E1;
    padding-top: 15px;
    display: flex;
    margin-bottom: 36px;

    span {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #505759;
        margin-right: 5px;
    }

    @media (max-width: 850px){
        flex-direction: column;
        position: absolute;
        width: calc(100% + 30px);
        margin: 0;
        top: 35px;
        right: -15px;
        background: #F9F9F9;
        padding: 0 15px 15px;
        z-index: 11;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
        display: none;

        &>div {
            padding: 20px 0 0;
        }
        span {
            display: inline-block;
        }
    }
}
.one-brand__filter-sort {
    margin-right: 6.5%;
}
// .one-brand__filter-view,
// .one-brand__filter-sort {
    // @media (max-width: 850px) {
        
    // }
// }
.one-brand__filter-num {
    position: absolute;
    right: 0;
    top: -32px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #BEBEBE;

    @media (max-width: 850px){
        right: auto;
        left: 0;
        top: -45px;
    }
    @media (max-width: 450px){
        top: -33px;
    }

    span {
        font-size: 16px;
        line-height: 20px;
        color: $dark;
    }
}
.one-brand__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.one-brand__item {
    width: 33.3333%;

    @media (max-width: 1050px){
        width: 50%;
    }
}
.one-brand__description {
    background: #F3F2F2;
    color: #505759;
    padding: 56px 0 32px 2.4%;

    @media (max-width: 450px){
        padding: 20px 0 35px 13px;
    }
}
.one-brand__description-inner {
    padding-top: 10px;
    display: flex;
    justify-content: center;

    @media (max-width: 600px){
        display: block;
    }
    @media (max-width: 450px){
        overflow-y: scroll;
        padding-right: 10px;
        margin-right: 15px;
        max-height: 242px;

        &::-webkit-scrollbar {
            width: 6px;
            background: #E3E2E2;
            border-radius: 9px;
        }
        &::-webkit-scrollbar-thumb {
            width: 6px;
            background: #9F9F9F;
            border-radius: 9px;
        }
    }
}
.one-brand__figure {
    margin: 0;
    font-weight: normal;
    max-width: 224px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 79px;

    @media (max-width: 850px){
        margin-right: 30px;
    }
    @media (max-width: 600px){
        margin: 0 auto 30px;
    }
}
.one-brand__description-img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 145px;
    padding: 0 10px;
    margin: 7px 0 10px 0;
}
.one-brand__description-title {
    margin: 0 0 19px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 450px){
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 34px;
    }
}
.one-brand__description-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    height: 114px;
    overflow-y: scroll;
    max-width: 994px;
    padding-right: 79px;

    @media (max-width: 600px){
        padding-right: 20px;
        margin-right: 19px;
    }
    @media (max-width: 450px){
        overflow-y: visible;
        padding-right: 0;
        margin-right: 0;
    }
    

    p {
        margin: 0 0 10px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background: #E3E2E2;
        border-radius: 9px;
    }
    &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #9F9F9F;
        border-radius: 9px;
    }
}