.one-brand {
    display: flex;
    justify-content: space-between;
    margin: 0 0 182px auto;
    max-width: 1310px;

    @media (max-width: 450px){
        margin-bottom: 58px;
    }
}

.one-brand .title {
    margin-bottom: 8px;
}

.one-brand .load-more {
    display: flex;
    max-width: 286px;
    margin: 0 auto 80px;
}

.one-brand__inner {
    flex-grow: 2;
    margin-left: 50px;
    padding-top: 10px;

    @media (max-width: 1050px){
        margin-left: 30px;
    }
    @media (max-width: 850px){
        margin-left: 0px;
    }
}

.one-brand__wrap-filter {
    position: relative;
}

.one-brand__bnts {
    display: none;
    font-weight: 600;
    line-height: 17px;

    @media (max-width: 850px){
        display: flex;
        width: calc(100% + 30px);
        margin: 0 0 10px -15px;
    }
    @media (max-width: 450px){
        margin-top: 30px;
    }
}

.one-brand__bnt-filtr,
.one-brand__bnt-sort {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    width: 50%;
    height: 35px;
    cursor: pointer;
}

.one-brand__bnt-filtr span,
.one-brand__bnt-sort span {
    position: relative;
    padding-left: 20px;

    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 14px;
        height: 14px;
        left: 0px;
    }
}

.one-brand__bnt-filtr span::before {
    background-image: url(../../img/filtr.svg);
}

.one-brand__bnt-sort {
    border-left: 1px solid #E1E1E1;
}

.one-brand__bnt-sort span::before {
    background-image: url(../../img/sort.svg);
}

.one-brand__wrap-filter {
    border-top: 1px solid #E1E1E1;

    @media (max-width: 850px){
        border-top-color: transparent;
        margin-top: 50px;
    }
}

.one-brand__filter {
    padding-top: 15px;
    display: flex;
    margin-bottom: 36px;

    @media (max-width: 850px){
        flex-direction: column;
        position: absolute;
        width: calc(100% + 30px);
        margin: 0;
        top: 35px;
        right: -15px;
        background: #F9F9F9;
        padding: 0 15px 15px;
        z-index: 11;
        box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
        display: none;

        &>div {
            padding: 20px 0 0;
        }
    }
     @media (max-width: 450px) {
         top: 65px;
     }
}

.one-brand__filter span {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #505759;
    margin-right: 5px;

    @media (max-width: 850px){
        display: inline-block;
    }
}

.one-brand__filter-sort {
    margin-right: 6.5%;
}

.one-brand__filter-num {
    position: absolute;
    right: 0;
    top: -32px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #BEBEBE;

    @media (max-width: 850px){
        right: auto;
        left: 0;
        top: -45px;
    }
    @media (max-width: 450px){
        top: -33px;
    }
}

.one-brand__filter-num span {
    font-size: 16px;
    line-height: 20px;
    color: $dark;
}

.one-brand__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    row-gap: 42px;

    @media (max-width: 850px){
        width: calc(100% + 20px);
        margin-left: -10px;
    }
    @media (max-width: 450px){
        row-gap: 5px;
    }
}

.one-brand__item {
    width: 33.3333%;
    padding: 0 10px;

    @media (max-width: 1050px){
        width: 50%;
    }
}

.one-brand__item .product__favorites {
    display: block;
}