.blog {
    margin: 0 auto;
    max-width: 1116px;
    padding-bottom: 188px;

    @media(max-width:480px) {
        padding-bottom: 158px;
    }
}

.title-blog {
    margin-bottom: 20px;
}
.blog__wrap-img {
    text-align: center;
    margin: 0 auto;
}
.blog__img-1 {
    width: 100%;
    max-width: 886px;
    margin-bottom: 23px;

    @media(max-width:916px) {
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: 16px;
    }
}
.blog__img-info {
    padding: 0 0 50px 37px;
    font-size: 16px;
    line-height: 108.95%;

    @media(max-width:480px) {
        padding-left: 0;
    }

    span {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
        }
    }
}
.blog__img-date {
    padding-left: 25px;
    margin-right: 16px;

    &::before {
        width: 18px;
        height: 18px;
        background-image: url(../../img/calendar.svg);
        top: -2px;
    }
}
.blog__img-view {
    padding-left: 36px;

    &::before {
        width: 25px;
        height: 15px;
        background-image: url(../../img/view.svg);
        padding-left: 35px;
        top: 1px;
    }
}
.blog__img-2 {
    margin: 0 auto 47px;
    width: 100%;
    max-width: 656px;

    @media(max-width:480px) {
        margin-bottom: 28px;
    }
}
.blog__title {
    margin: 0 0 27px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    @media(max-width:480px) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 23px;
    }
}
.blog__subtitle {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}
.blog__list {
    padding: 0 0 10px 25px;
    margin: -15px 0 0;
    font-size: 14px;
    line-height: 29px;
    
    @media(max-width:480px) {
        margin-top: -10px;
        padding-left: 16px;
    }
}