@import "../vars";

.order {
    padding-bottom: 150px;

    @media(max-width: 500px) {
        padding-bottom: 125px;
    }
}

.order__inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #BEBEBE;
    margin-top: 23px;
    
    @media(max-width: 800px) {
        flex-direction: column;
    }
}

.order__inner.active {
    .new-customer__tabs-decor {
        &::before {
            color: #BEBEBE;
            border-color:  #BEBEBE;
        }
        &::after {
            color: $red;
            border-color: $red;
        }
    }
    .new-customer__tabs-next {
        display: none;
    }
    .new-customer__tabs-prev {
        display: block;
    }
    .order__checkout {
        display: block;

        &.hide {
            display: none;
        }
    }
}
    
.order__tabs {
    padding-top: 34px;
    width: 100%;
    max-width: 760px;
    position: relative;

    @media(max-width: 500px) {
        width: calc(100% + 30px);
        margin-left: -15px;
        padding: 27px 15px 0;
    }
}

.order__tabs .tabs {
    width: 100%;
    max-width: 496px;

    @media(max-width: 920px) {
        position: absolute;
        top: 34px;
        left: 0;
        width: 450px;
    }
    @media(max-width: 800px) {
        width: 100%;
        position: static;
    }
    @media(max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }
}

.order__tabs .tab {
    @media(max-width: 500px) {
        & + .tab {
            margin-top: 19px;
        }
    }
}

.order__tabs .tab_content {
    @media(max-width: 920px) {
        padding-top: 28px;
    }
    @media(max-width: 800px) {
        padding-top: 0;
    }
}

// START ORDER ASIDE
.order__aside {
    max-width: 423px;
    width: 100%;
    padding-top: 100px;

    @media(max-width: 800px) {
        max-width: 550px;
    }
    @media(max-width: 500px) {
        padding-top: 61px;
    }
}

.order__aside .quantity {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    width: 100%;
    max-width: 95px;
    display: inline-block;
}

.order__aside-items {
    max-height: 315px;
    overflow-y: auto;
    margin-bottom: 30px;

    @media(max-width: 800px) {
        overflow-y: visible;
        max-height: 100%;
        height: auto;
    }
}

.order__aside-item {
    display: flex;
    margin-bottom: 30px;
}

.order__aside-img {
    margin-right: 20px;
    width: 90px;
    height: 107px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.order__aside-img img {
    max-width: 100%;
    max-height: 100%;
}

.order__aside-content {
    flex-shrink: 5;
}

.order__aside-title {
    font-weight: 400;
    margin: 0 0 10px;
    max-width: 245px;

    @media(max-width: 800px) {
        max-width: 400px;
    }
    @media(max-width: 500px) {
        font-size: 12px;
        line-height: 18px;
    }
}

.order__aside-price {
    margin-bottom: 8px;
}

.order__aside-remove {
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    position: relative;
    width: 40px;
    height: 40px;
    top: -2px;
    margin-left: 15px;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: #BEBEBE;
        left: 10px;
        top: 46%;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}

.order__aside-sum {
    border: 6px solid rgba($color: #E1E1E1, $alpha: .5);
    box-sizing: border-box;
    padding: 15px 20px;
    text-align: center;

    @media(max-width: 500px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.order__checkout {
    padding-top: 42px;
    display: none;
}

.order__checkout.hide {
    display: none;
}

.order__checkbox {
    font-weight: normal;
    max-width: 300px;
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;  
}

.order__btn {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: $red;
    outline: none;
    padding: 16px 0;
    margin-top: 9px;
    width: 100%;
    max-width: 356px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
// END ORDER ASIDE
// START RUGULAR-CUSTOMER
.regular-customer {
    display: flex;
    justify-content: space-between;
    align-self: start;
    flex-wrap: wrap;
    padding-top: 62px;
    margin-right: 30px;

    @media(max-width: 800px) {
        max-width: 550px;
    }
    @media(max-width: 700px) {
        margin-right: 0;
    }
    @media(max-width: 500px) {
        padding-top: 48px;
    }
}

.regular-customer > div {
    width: 45%;

    @media(max-width: 1050px) {
        width: 100%;
        margin-bottom: 25px;
    }
}

.regular-customer .form__forget-password {
    width: 100%;
    margin: 20px 0 30px;

    @media(max-width: 500px) {
        margin: -10px 0 22px;
    }
}
// END RUGULAR-CUSTOMER
// START NEW CUSTOMER
.new-customer {
    margin-right: 30px;

    @media(max-width: 800px) {
        margin-right: 0;
        max-width: 550px;
    }
}

.new-customer__tabs-inner {
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 60px;
    max-width: 730px;
    padding-top: 55px;
    display: none;

    @media(max-width: 450px) {
        padding-top: 14px;
        row-gap: 24px;
    }
}

.new-customer__tabs-inner.active {
    display: flex;
}

.new-customer__tabs-inner > div {
    width: 45%;

    @media(max-width: 1050px) {
        width: 100%;
        margin-bottom: 25px;
    }
}

.new-customer__tabs-inner .jq-selectbox__dropdown {
    right: 0;
} 

.new-customer__tabs-btn {
    padding-top: 20px;
    max-width: 730px;

    @media(max-width: 450px) {
        padding-top: 34px;
    }

    button {
        padding: 7px;
        max-width: 120px;
        width: 100%;
    }
}

.new-customer__tabs-prev {
    display: none;
}

.new-customer__tabs {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    max-width: 735px;

    @media(max-width: 450px) {
        flex-direction: column;
        padding-top: 41px;
        padding-left: 5%;
    }
}

.new-customer__tabs-text {
    margin-right: 10px;

    @media(max-width: 450px) {
        position: relative;
        padding-left: 40px;
        margin-bottom: 18px;
    
        &::before {
            content: '●';
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: #BEBEBE;
            line-height: 1;
            position: absolute;
            width: 25px;
            height: 25px;
            top: -3px;
            left: 0;
            border-radius: 50%;
            border: 1px solid #BEBEBE;
        }
    }
}

.new-customer__tabs-text.active {
    @media(max-width: 450px) {
        &::before {
            color: $red;
            border-color: $red;
        }
    }
}

.new-customer__tabs-decor {
    position: absolute;
    height: 2px;
    width: 68%;
    transform: translateX(-50%);
    left: 49.5%;
    top: 48px;
    display: block;
    background-color: #BEBEBE;

    @media(max-width: 450px) {
        display: none;
    }

    &::before,
    &::after {
        content: '●';
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #BEBEBE;
        line-height: 1;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -11px;
        border-radius: 50%;
        border: 1px solid #BEBEBE;
    }
    &::before {
        left: -35px;
        color: $red;
        border-color: $red;
    }
    &::after {
        right: -35px;
    }
}

.new-customer__tabs-prev {
    margin-right: auto;

    @media(max-width: 450px) {
        margin-top: -30px;
    }
}

button.new-customer__tabs-next {
    margin-left: auto;
    display: block;
}

.new-customer__tabs-col {

    .jq-selectbox.jqselect {
        max-width: 100%;
        width: 100%;
        display: block;
        padding-bottom: 4px;
        border-bottom: 1px solid #BEBEBE;
        margin-bottom: 40px;

        @media(max-width: 450px) {
            margin-bottom: 30px;
        }
    }
    .jq-selectbox__trigger {
        margin-right: 10px;
    }
    .jq-selectbox__dropdown {
        top: 23px;
    }
}

.new-customer__tabs-col-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.3px;
    padding-left: 65px;
    max-width: 235px;
    position: relative;
    margin-bottom: 17px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 31px;
        width: 52px;
        background-image: url(../../img/cart.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.new-customer__tabs-col-title--bg {
    padding-left: 75px;
    &::before {
        background-image: url(../../img/delivery.svg);
        width: 66px;
    }
}

.new-customer__textarea {
    position: relative;
    padding-top: 26px;
}

.new-customer__textarea textarea {
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #BEBEBE;
    resize: none;
}

.new-customer__textarea label {
    position: absolute;
    top: 0;
    left: 0;
}
// EBD NEW CUSTOMER