@import "../vars";

.registration {
    padding-bottom: 150px;

    @media(max-width:450px) {
        padding-bottom: 138px;
    }
}

.registration__form {
    @media(max-width:450px) {
        text-align: center;
    }
}

.registration__form .form__wrap-input + .form__wrap-input {
    margin-top: 34px;

    @media(max-width:450px) {
        margin-top: 25px;
    }
}

.registration__form .form__checkbox {
    display: block;
    margin-bottom: 10px;
    color: $dark;

    a {
        color: #4A90E2;
        text-decoration: none;
    }
}

.registration__form .form__checkbox {
    @media(max-width:450px) {
        text-align: left;
    }
}

.registration__text {
    padding-top: 13px;
    margin: 0 0 31px;
    font-size: 15px;
    letter-spacing: 0.3px;

    @media(max-width:450px) {
        font-size: 13px;
    }
}

.registration__text span {
    color: $red;
    font-weight: 700;
}

.registration__form-inner {
    max-width: 328px;
    margin-bottom: 40px;

    @media(max-width:450px) {
        margin-bottom: 20px;
    }
}

.registration__btn {
    margin-top: 24px;
    padding: 11px 36px;
}