.reviews {
    text-align: center;
    padding-bottom: 95px;

    @media(max-width: 450px) {
       padding-bottom: 132px;
    }

    .title {
        text-align: left;
    }
}
.reviews__btn,
.reviews__form-btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    // color: $dark;
    padding: 11px 24px;
    // border: 2px solid $red;
    border-radius: 5px;
}  
.reviews__btn {
    margin: 46px 0 63px;

    @media(max-width: 450px) {
        margin: 26px 0 36px;
    }
}  
.reviews__inner {
    text-align: left;
    max-width: 1114px;
    margin: 0 auto 123px;

    @media(max-width: 450px) {
       margin-bottom: 50px;
    }
}
.reviews__item {
    padding: 8px 0 17px;
    margin-bottom: 15px;

    @media(max-width: 450px) {
        padding-top: 0;
        margin-bottom: 5px;
    }
}
.reviews__item--border {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 23px;

    @media(max-width: 450px) {
       margin-bottom: 17px;
    }
}
.rewiews__comment {
    display: flex;
    justify-content: space-between;
}
.reviews__info {
    width: 100%;
    max-width: 170px;
    margin-right: 15px;
    flex-shrink: 1;

    @media(max-width: 650px) {
        max-width: 95px;
    }
    @media(max-width: 450px) {
        max-width: 85px;
    }
}
.reviews__item-star.jq-ry-container {
    padding: 0;
    margin-bottom: 16px;
    z-index: 3;

    @media(max-width: 450px) {
        transform: scale(.8);
        margin: -2px 0 9px -9px;
    }
}
.reviews__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;

    @media(max-width: 450px) {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 7px;
    }
}
.reviews__data {
    // color: $dark_gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 8px;

    @media(max-width: 650px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 12px;
    }
}
.reviews__social {

    a {
        text-decoration: none;
        margin-right: 10px;
    }
}
.reviews__text {
    flex-grow: 1;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    flex-shrink: 2;

    @media(max-width: 650px) {
        padding-top: 2px;
        font-size: 12px;
        line-height: 18px;
    }
}
.reviews__answer {
    display: flex;
    padding: 20px 19px 13px;
    max-width: 1049px;
    margin: 24px 0 0px auto;
    border: 1px solid #BEBEBE;

    @media(max-width: 450px) {
        padding: 18px 19px 6px;
        .reviews__info {
            max-width: 65px;
        }
    }
}
// START POPUP
.reviews__wrap-form {
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 38px 75px 39px 71px;
    max-width: 846px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25);
    position: relative;

    .mfp-close {
        font-size: 0;
        top: 35px;
        right: 60px;
        opacity: 1;


        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            // background-color: $red;
            left: 20%;
            top: 45%;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    .form__wrap-input {
        width: 47%;
        margin-bottom: 81px;
    }
}
.reviews__form-stars {
    display: flex;
    margin-bottom: 22px;

    &>label {
        margin-right: 15px;
        padding-top: 10px;
    }
}
.form__wrap-input.reviews__textarea {
    width: 100%;
    margin-bottom: 0;
    .form__placeholder {
        margin-top: -45px;
    }
    .form__textarea {
        width: 100%;
        min-height: 176px;
    }
}
.reviews__form-btn {
    margin: 44px 0 0;
    padding: 11px 35px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
// start raiting star
.rating-area {
    overflow: hidden;
    margin-left: 2px;
    display: flex;
    flex-direction: row-reverse;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	padding: 0;
	cursor: pointer;
	font-size: 35px;
	line-height: 1;
    color: lightgrey;
    margin-right: 0;
}

.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
}
.rate-area > label:active {
	position: relative;
}
// end raiting star
// END POPUP