@import "../vars";

.favorites {
    padding-bottom: 182px;

    @media(max-width: 450px) {
        padding-bottom: 126px;
    }
}

.favorites__items {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-top: 43px;
    row-gap: 42px;

    @media(max-width: 500px) {
        row-gap: 5px;
        padding-top: 25px;
    }
}

.favorites__item {
    width: 25%;
    padding: 0 10px;

    @media(max-width: 1150px) {
        width: 33.3333%;
    }
    @media(max-width: 950px) {
        width: 50%;
    }
}