.header {
    border-bottom: 3px solid $dark;

    @media (max-width:1050px) {
        border-bottom: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
        padding-bottom: 10px;
    }
}
// start header__top
.header__top {
    background-color: $dark;

    @media (max-width:730px) {
        display: none;
    }
}
.header__top-inner {
    min-height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    @media (max-width:1200px) {
        flex-wrap: wrap;
        align-items: start;
    }
    
    a {
        color: #fff;
    }
}

.header__top-list {
    padding: 0 15px 0 0;
    margin: 0 auto 0 0;
    width: 100%;
    max-width: 671px;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media (max-width:1200px) {
        max-width: 100%;
        margin-bottom: 10px;
    }

    li + li {
        border-left: 1.5px solid rgba(255, 255, 255, .2);
        padding-left: 8px;
    }

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
}

.header__reviews {
    border: 2px solid #FFFFFF;
    border-bottom: none;
    min-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 130px;

    @media (max-width:1200px) {
        padding: 5px 0;
    }
}

.work-time {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-left: 28.5px;
    margin-left: 8.85%;

    @media (max-width:1300px) {
        margin-left: 4%;
    }
    @media (max-width:1200px) {
        margin-left: 20px;
        margin-right: auto;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -2.5px;
        width: 22.5px;
        height: 22.5px;
        background-image: url(../../img/header/work-time.png);
    }

    span {
        font-weight: 700;
    }
}

.header__lang {
    padding: 0;
    margin: 0 0 0 2.6%;
    list-style: none;
    display: flex;

    li + li {
        padding-left: 13px;
        &::before {
            content: "/";
            position: absolute;
            left: 4px;
        }
    }
}

.header__lang-item {
    position: relative;
    &.active {
        a {
            border-bottom: 1px solid #fff;
        }
    }

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
}
// end header__top
// start header__content
.header__content-inner {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width:1050px) {
        position: relative;
        padding-top: 55px;

        &.active {
            .header__content-logo-img {
                opacity: 0;
            }
            .header__content-logo {
                transform: translate(-55%);
            }
            .header__btn {
                span {
                    width: 0;
                    background-color: #fff;
                }
                span:first-child {
                    width: 100%;
                    top: 12px;
                    transform: rotate(45deg);
                }   
                span:last-child {
                    width: 100%;
                    top: 12px;
                    transform: rotate(-45deg);
                }
            }
            .menu-list {
                transform: translateX(0%);
            }
            .logo-color-1 {
                fill: #fff;
            }
            .logo-color-2 {
                fill: #fff;
            }
            .header__content-connection {
                transform: translateX(0);
            }
        }
    }
    @media (max-width:480px) {
        padding-top: 32px;

        &.active {
            .header__content-logo {
                transform: translate(-40%);
            }
        }
    }
}
.header__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 26px;
    display: none;

    @media (max-width:1050px) {
        display: block;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 75px;
    }
    @media (max-width:480px) {
        top: 34px;
    }

    span {
        display: block;
        width: 26px;
        height: 3px;
        position: absolute;
        background-color: $dark;
        top: 12px;
        left: 0;
        transition: all .3s;
    }
    span:first-child {
        width: 100%;
        top: 0;
    }
    span:last-child {
        width: 28px;
        top: 24px;
    }
}
.header__content-logo {
    display: flex;
    align-items: center;
    margin-right: 4.8%;

    @media (max-width:1200px) {
        margin-right: 20px;
    }
    @media (max-width:1050px) {
        position: absolute;
        top: 25px;
        left: 60px;
        z-index: 5;
        transition: transform .3s;
    }
    @media (max-width:480px) {
        left: 42px;
        top: 6px;
    }
    
}
.header__content-logo-img {
    transition: all .3s;

    @media (max-width:480px) {
        width: 52px;
    }
}
.logo-color-1,
.logo-color-2 {
    transition: all .3s;
}
.header__content-logo-text {
    margin: 15px 0 0 7px;

    @media (max-width:480px) {
        width: 67px;
    }
}
.header__content-connection {
    padding-bottom: 2px;
    margin-right: auto;
    color: $dark;

    @media (max-width:1050px) {
        position: absolute;
        left: -15px;
        z-index: 7;
        bottom: -55px;
        width: 100%;
        max-width: 300px;
        text-align: center;
        color: #fff;
        transform: translateX(-110%);
        transition: transform .3s;
    }
    @media (max-width:480px) {
        bottom: -78px;
    }
    
}
.header__content-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
}
.header__phone {
    margin-right: 11px;
    @media (max-width:1180px) {
        margin-bottom: 10px;
        margin-right: 0;
    }
    @media (max-width:1050px) {
        color: #fff;
    }
}
.header__content-link {
    display: flex;
    align-items: center;

    @media (max-width:1180px) {
        flex-wrap: wrap;
        max-width: 150px;
    }
    @media (max-width:1050px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 150px;
        margin: 0 auto;
    }
    .socials__link {
        width: 23px;
    }
    .socials__link + .socials__link {
        margin-left: 11px;
    }
}
.header__content-btn {
    background-color: $red;
    display: block;
    border: none; 
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    min-height: 24px;
    text-transform: uppercase;
    margin: 7px 0 0 3px;
    padding: 0 10px;
    cursor: pointer;
    outline: none;

    @media (max-width:1050px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.header__content-search {
    position: relative;
    width: 100%;
    max-width: 368px;
    margin: 0 15px;
    display: none;

    @media(max-width:1300px) {
        max-width: 250px;
    }
    @media (max-width:1050px) {
        display: block;
        order: 4;
        max-width: 600px;
        margin: 40px auto 0 ;
    }
    @media (max-width:670px) {
        margin-top: 75px;
    }
    @media (max-width:480px) {
        margin-top: 22px;
    }

    &.active {
        display: block;
    }

    input {
        width: 100%;
        border: 1px solid $gray;
        box-sizing: border-box;
        border-radius: 31px;
        height: 49px;
        outline: none;
        padding: 0 42px 0 27px;

        @media (max-width:480px) {
            height: 30px;
            padding-left: 15px;
            padding-right: 37px;
        }

        &::placeholder {
            color: $gray;
        }
    }
    button {
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        right: 7px;
        top: 2px;
        width: 45px;
        height: 45px;
        background-image: url(../../img/search.png);
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width:480px) {
            top: -8px;
            right: 0;
        }
    }
}

.header__content-box {
    padding: 5px 0 0;
    list-style: none;
    margin: 0 0 0 auto;
    display: flex;
    position: relative;

    @media (max-width:1050px) {
        padding: 5px 0px 0 125px;
    }
    @media (max-width:670px) {
        padding-left: 0;
    }
}
.header__content-item  {
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header__content-item + .header__content-item {
    margin-left: 20px;

    @media (max-width:1200px) {
        margin-left: 15px;
    }
}

.header__content-item.user.active {
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 9px;
            height: 9px;
            background-color: $red;
            border-radius: 50%;
            right: 30px;
            top: 4px;

            @media (max-width:670px) {
                right: 0;
                top: 0;
            }
        }
    }

.header__user-list {
    display: none;
    position: absolute;
    min-width: 187px;
    bottom: -113px;
    left: -45px;
    margin: 0;
    padding: 18px 20px 22px;
    background-color: #fff;
    list-style: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 5;

    @media (max-width:1050px) {
        left: 70px;
    }
    @media (max-width:670px) {
        left: -80px;
    }

    &.active {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        border: 9px solid #fff;
        transform: translateX(-50%) rotate(45deg);
    }

    a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: $dark;
        transition: all .3s;
        border-bottom: 1px solid $light_gray;

        &:hover {
            border-color: $red;
        }
    }
}
.header__user-item {
    
    & + .header__user-item {
        margin-top: 13px;
    }
}
.header__content-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 36px;
    height: 36px;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    @media (max-width:670px) {
        width: 21px;
        height: 21px;
    }
}
.header__content-num {
    position: absolute;
    right: -6px;
    top: -7px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    color: #fff;

    @media (max-width:670px) {
        width: 16px;
        height: 16px;
    }
}
.header__content-item-text {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    transition: all .3s;
    width: auto;
    height: auto;
    overflow: visible;
    color: $gray;

    @media (max-width:670px) {
        display: none;
    }
}
// end header__content

// start header fixed menu
.header__content.header__content--fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
    
    .header__content-inner {
        padding: 0 0 7px;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 5px;

        @media (max-width:1050px) {
            padding: 10px 0 15px;
        }
    }
    .header__content-logo {
        width: 90px;
        order: -2;
        margin-right: 40px;

        @media (max-width:1200px) {
            margin-right: 20px;
        }
        @media (max-width:1050px) {
            top: 0px;
            transform: translateX(0);
        }
        
    }
    .header__content-logo-img {
        width: 0;
        height: 0;
    }
    .header__content-logo-text {
        margin-top: 10px;
        width: 100%;

        @media (max-width:480px) {
            width: 67px;
        }
    }
    .header__content-connection {
        display: none;

        @media (max-width:1050px) {
            display: block;
            bottom: -130px;
        }
    }
    .header__content-box {
        padding-top: 17px;
    }
    .header__content-item-text {
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .header__content-icon {
        width: 24px;
        height: 23px;
    }
    .header__content-num {
        width: 18px;
        height: 18px;
    }
    .header__content-item.user.active::before  {
        right: 0px;
        top: 0;
    }
    .header__content-item+.header__content-item {
        margin-left: 30px;

        @media(max-width: 1200px) {
            margin-left: 15px;
        }
    }
    .header__user-list {
        left: -75px;

        @media (max-width:1050px) {
            left: 35px;
        }
        @media (max-width:670px) {
            left: -80px;
        }
    }
    .header__content-search {
        display: none;
    }
    .header__btn {
        order: -2;
        margin-top: 15px;
        top: 15px;
    }
}
// end header fixed menu
