.footer {
    font-family: 'Fira Sans', sans-serif;
}
.footer__top {
    background: linear-gradient(0deg, #444444, #444444), #C4C4C4;
}
.footer__top-inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media(max-width: 1130px) {
        flex-wrap: wrap;
        padding: 15px 0px 0;
    }
}
.footer__top-img {

    @media(max-width: 1130px) {
        width: 30%;
        margin: 0 15px 9px 0;
    }
    @media(max-width: 730px) {
        margin-right: 5px;
    }

    img {
        max-width: 100%;
    }
}
.footer__btn {
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: $red;
    border-radius: 50%;
    right: 0;
    bottom: -38px;
    cursor: pointer;
    transition: all .3s;
    padding-left: 11px;
    padding-top: 14px;

    &:hover {
        transform: scale(1.15);
    }
    @media(max-width: 480px) {
        bottom: auto;
        top: -25px;
    }
}
// start footer content
.footer__content {
    background-color: $dark;
    color: #fff;
    padding: 43px 0 42px;

    @media(max-width: 450px) {
        padding: 33px 0 73px;
    }
}
.footer__content-inner {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;

    @media(max-width: 1130px) {
        flex-wrap: wrap;
        padding-right: 0;
        justify-content: center;
    }
}
.footer__content-col {
  
    @media(max-width: 1130px) {
        width: 40%;
        margin-right: 15px;
    }
    @media(max-width: 500px) {
        margin-right: 0;
        width: 100%;
        max-width: 300px;
        text-align: center;
    }
}
.footer__col-form {
    max-width: 266px;
    width: 100%;
    
    @media(max-width: 1130px) {
        max-width: 40%;
    }
    @media(max-width: 600px) {
        max-width: 246px;
    }
    @media(max-width: 500px) {
        margin-bottom: 40px;
    }
}
.footer__col-list {
    @media(max-width: 730px) {
        width: 100%;
        max-width: 420px;
        padding-top: 20px;
        margin-right: 0;
    }
    @media(max-width: 500px) {
        text-align: left;
    }
}
.footer__logo {
    display: inline-block;
    margin-bottom: 13px;

    @media(max-width: 450px) {
        margin-bottom: 8px;
    }
}
.footer__copy {
    max-width: 212px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $dark_gray;

    @media(max-width: 500px) {
        margin: 0 auto;
    }

    span {
        display: inline-block;
        max-width: 160px;
        margin-bottom: 15px;

        @media(max-width: 450px) {
            margin-bottom: 10px;
        }
    }
}
.footer__list {
    padding: 18px 0 0;
    margin: 0;
    list-style: none;
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 1130px) {
        margin-bottom: 40px;
    }
    @media(max-width: 730px) {
        max-width: 650px;
        padding-top: 15px;
    }
    @media(max-width: 450px) {
        padding-left: 20px;
        margin-bottom: 27px;
    }

    li {
        max-width: 158px;
        min-width: 94px;
        margin-bottom: 17px;

        @media(max-width: 730px) {
            width: 50%;

            &:nth-child(even) {
                max-width: 37%;
            }
        }
        @media(max-width: 450px) {
            margin-bottom: 9px;
        }
        
    }

    a {
        text-decoration: none;
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;

        @media(max-width: 450px) {
            font-size: 11px;
            line-height: 15px;
        }
    }
}
.footer__title {
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
    margin-bottom: 7px;
    color: #FFFFFF;
}
.footer__text {
    font-size: 13px;
    line-height: 16px;
    color: $dark_gray;
    max-width: 212px;

    @media(max-width: 500px) {
        margin: 0 auto;
    }
    @media(max-width: 450px) {
        line-height: 19px;
    }
}
.footer__form {
    width: 100%;
    position: relative;
    margin-top: 33px;

    @media(max-width: 1130px) {
        max-width: 266px;
    }
    @media(max-width: 500px) {
        margin-top: 18px;
    }

    input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 17px;
        height: 27px;
        color: #FFFFFF;
        border-bottom: 2px solid #7E7E7E;
        padding: 0 35px 0 0px;

        &::placeholder {
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }

    button {
        position: absolute;
        right: 0;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
.footer__phone {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding-top: 15px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__address {
    font-size: 13px;
    line-height: 20px;
    margin-top: 17px;
    margin-bottom: 19px;

    @media(max-width: 450px) {
        margin-top: 9px;
        margin-bottom: 12px;
    }

    span {
        display: block;
    }
}
.footer__social {
    margin-bottom: 9px;

    a {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #666;
        background-repeat: no-repeat;
        background-position: center;
        
        &:hover {
            transform: translateY(-2px);
        }
    }
    a + a {
        margin-left: 5px;
    }
}
.footer__email {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    padding-left: 35px;

    &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 19px;
        background-image: url(../../img/footer/letter.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 1px;
    }
}
// end footer content